<div class="register-container">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <label for="username">Pseudo:</label>
    <input id="username" type="username" formControlName="username" required>

    <label for="password">Mot de passe:</label>
    <input id="password" type="password" formControlName="password" required minlength="6">

    <button type="submit" [disabled]="isSubmitting">S'inscrire</button>
  </form>

  @if (errorMessage){
    <div class="error-message">{{ errorMessage }}</div>
  }

</div>
