<div class="recipe-container">

  <h2>{{recette.title}}</h2>

  <div class="recipe-instructions">
    <h3>Instructions</h3>
    <p class="clamp-text">
      {{recette.instruction}}
    </p>
  </div>

  @if (view === 'global'){
    <div class="recipe-actions">
      <span class="heart-icon empty" (click)="addToFavorite(recette.slug)">&#x2665;</span>
      <button class="button" (click)="detailsRecipe()">Voir plus</button>
    </div>
  } @else if (view === 'favorite') {
    <div class="recipe-actions">
    <span class="heart-icon filled" (click)="removeFromFavorites(recette.title)">&#x2665;</span>
    <button class="button" (click)="detailsRecipe()">Voir plus</button>
    </div>
  } @else if (view === 'admin') {
    <div class="recipe-actions">
      <span class="heart-icon empty" (click)="addToFavorite(recette.slug)">&#x2665;</span>
      <button class="button" (click)="detailsRecipe()">Voir plus</button>
      <button class="button" (click)="deleteRecipe()">Supprimer recette</button>
      <button class="button" (click)="updateRecette()">Modifier recette</button>
    </div>
  }

</div>

