<footer>
<!--  <div class="row">-->
<!--    <div class="col">-->

<!--    </div>-->
<!--    <div class="col">-->

<!--    </div>-->
<!--    <div class="col">-->

<!--    </div>-->
<!--    <div class="col">-->

<!--    </div>-->
<!--    <div class="col">-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="text-center">-->
<!--    <div class="dropdowns">-->

<!--    </div>-->
    <p class="text-center" ><a routerLink="/admin"> Admin </a></p>
    <div class="text-center">© {{ year }} - Recipify vos Recettes Faciles | Tous droits réservés</div>
<!--    <div>Tous droits réservés</div>-->
<!--  </div>-->
</footer>
