
<h1>Bienvenue sur Recipify !!!</h1>

<h2>Entrez vos ingredients</h2>

<div class="ingredient-form">
    <h2>Ingrédients</h2>

    <form [formGroup]="form" (ngSubmit)="submitIngredients()">
        <div id="ingredient-fields">
            <div class="ingredient-field">
                <label>Ingrédient 1 :</label>
                <input type="text" formControlName="ingredientName">
                <label>Quantité :</label> 
                <input type="number" formControlName= "quantity">
            </div>
            <div class="ingredient-field">
                <label>Ingrédient 1 :</label>
                <input type="text" formControlName="ingredientName">
                <label>Quantité :</label> 
                <input type="number" formControlName= "quantity">
            </div>
        </div>

    <button type="button" (click)="addInput()">Ajouter un ingrédient</button>


    <button (click)="goToPage()">Voir la recette</button>





