<h2>Entrez les ingrédients de votre réfrigérateur</h2>
<div class="center">
  <button class="button-fixed" (click)="goToPage()">Voir les recettes</button>
</div>
<section class="formulaire">
<form [formGroup]="ingredientForm" (ngSubmit)="handleSubmit()">
  <div formArrayName="ingredients">

    <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i">
      <fieldset>
        <p>
          <label for="name">Ingrédient:</label>
          <input type="text" id="name" formControlName="name" list="ingredientOption">
          <datalist id="ingredientOption">
            <option *ngFor="let ing of ingredientsArray" [value]="ing">{{ing}}</option>
          </datalist>
        </p>
      <p>
      <label for="quantity">Quantité:</label>
      <input type=number id="quantity" formControlName="quantity">
        <span *ngIf="ingredient.get('quantity')?.dirty && ingredient.get('quantity')?.errors?.['min']">
          La quantité doit être supérieure à 0.
        </span>
      </p>

      <p>
        <label for="unit">Unité:</label>
        <input type="text" id="unit" formControlName="unit" list="unitOptions">
        <datalist id="unitOptions">
          <option *ngFor="let u of units" [value]="u">{{ getUnitDisplayName(u)}}</option>
        </datalist>
      </p>
      <p>
        <label for="expiration">Date d'expiration</label>
        <input type="date" id="expiration" formControlName="expiration">
      </p>
      </fieldset>
    </div>
  </div>
  <div>
  <button class="button-fixed" type="button" (click)="addInput()">Ajouter un ingrédient</button>
  </div>
  <div class="center">
  <button class="button" type="submit">Soumettre</button>
  </div>
</form>

</section>

<section class="frigo">
  <app-fridge></app-fridge>
</section>






