
<h1>Bienvenue sur Recipify !!!</h1>

<h2>Entrez vos ingredients</h2>

<div class="ingredient-form">
    <h2>Ingrédients</h2>

    <form id="ingredients-form">
        <div id="ingredient-fields">
            <div class="ingredient-field">
                <label for="ingredient1">Ingrédient 1 :</label>
                <input type="text" id="ingredient1" name="ingredient1">
            </div>
            <div class="ingredient-field">
                <label for="ingredient2">Ingrédient 2 :</label>
                <input type="text" id="ingredient2" name="ingredient2">
            </div>
            <div class="ingredient-field">
                <label for="ingredient3">Ingrédient 3 :</label>
                <input type="text" id="ingredient3" name="ingredient3">
            </div>
        </div>

    <button type="button" (click)="addIngredient()">Ajouter un ingrédient</button>

    <button (click)="goToPage()">Voir la recette</button>





