<app-loading-card [isLoading]="isLoading"></app-loading-card>

<div class = "header-section">
  <h1>Bienvenue sur Recipify!</h1>
  <p>Connectez-vous pour accéder à votre compte</p>
</div>

<section id="login">
  <div class="accueil">
    <img src="logo.png" alt="Logo Recipify">
  </div>


  <div class="formulaire">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <p>
        <label>Pseudo</label>
        <input formControlName="username">
      </p>
      <p>
        <label>Mot de passe</label>
        <input type="password" formControlName="password">
      </p>
      <p>
        <button class="button">Connexion</button>
      </p>
      @if (errorMessage) {
        <small class="error-message">{{ errorMessage }}</small>
      }
      <a routerLink="register">Créer compte</a>
    </form>
  </div>
</section>
